$output-bourbon-deprecation-warnings: false !default;
@import "padroes/reset";
@import "padroes/predefinicoes";

@import "padroes/formatacoes";
@import "padroes/fancybox";

/////// LAYOUT
body, html {
	overflow-x: hidden;
	&.noscroll {overflow: hidden;}
}

body {
	font-weight: normal;
	font-style: normal;
	font-size: 17px;
	line-height: 1.7;
	color: $texto;
	font-family: $fonte-padrao;
	letter-spacing: 0.04;
	position: relative;
	background-image: url('../img/fundo_top.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 1603px auto;

	@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-width: $tablet) {
		background-image: url('../img/fundo_top@2x.jpg');
	}

	@media (max-width: $smart-maior) { 
		background-position: center 16px;
		background-size: 1100px auto;
		font-size: 16px;
	}
}


