$output-bourbon-deprecation-warnings: false !default;
@import "padroes/reset";
@import "padroes/predefinicoes";

@import "padroes/formatacoes";
@import "padroes/fancybox";

/////// LAYOUT
body, html {
	overflow-x: hidden;
	&.noscroll {overflow: hidden;}
}

body {
	font-weight: normal;
	font-style: normal;
	font-size: 19px;
	line-height: 1.7;
	color: var(--cor-texto);
	font-family: $fonte-padrao;
	letter-spacing: 0.04em;
	position: relative;

	@media (max-width: $smart-maior) { 
		font-size: 17px;
	}
}

@import "layout/cabecalho";