$output-bourbon-deprecation-warnings: false !default;
@import "padroes/reset";
@import "padroes/predefinicoes";

@import "padroes/formatacoes";
@import "padroes/fancybox";

/////// LAYOUT
body, html {
	overflow-x: hidden;
	&.noscroll {overflow: hidden;}
}

body {
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
	line-height: 1.7;
	color: var(--cor-texto);
	font-family: $fonte-padrao;
	letter-spacing: 0.01em;
	position: relative;

	@media (max-width: $smart-maior) { 
		font-size: 16px;
	}
}

@import "layout/menu";
@import "layout/cabecalho";
@import "layout/componentes";
@import "layout/nav-canvas";
@import "layout/home";
@import "layout/projetos";
@import "layout/artigos";
@import "layout/servicos";
@import "padroes/whatsapp";
@import "layout/cliente";
@import "layout/afiliada";
@import "layout/rodape";
@import "layout/formularios";
@import "layout/planos";
@import "layout/popups";



a[data-target="#faq"]:hover {text-decoration: underline;}


.mini-page-insta {
	max-width: 680px; min-height:calc(100vh - 360px);

	a.link-bio {
		display: block;
		line-height: 1.4;
		white-space: normal;
		text-transform: none;
		text-align: center;
		border-radius: 10px !important;
		letter-spacing: 0.03em;
		padding-top: 0.9em !important;
		padding-bottom: 0.9em !important;
		font-size: 1.1em !important;
		transform: none !important;
	}
	
	.area-news {
		width: 100%; padding: 1em 0;
		margin-top: 2em; margin-bottom: 2em;
		width: 100%; position: relative;
		background: var(--cor-grafite);
		color: white;
		@include expandefundo();

		.cursivo { @extend %textshadow; margin-bottom: 8px; }
		
		&:before {background: var(--cor-grafite);}

		.foto {
			width: 105vw; height: 100%; position: absolute;
	        top: 0; left: 50%; display: block; opacity: .3;
	        @include transform(translateX(-50%));
	        @include imagemfull(cover,center,center);
		}

		p { font-size: 15px; line-height: 1.4; }

		// newsletter
		form {
			@include flex(space-between); width: 100%;
			margin-top: 1em; font-size: 0.95em; @include align-items(flex-start);

			input {
				margin-top: 10px; line-height: 36px; width: 100%; padding-left: 36px;

				&:focus { background: white; border: 1px solid $azul-medio; }
			}

			button { background: var(--cor-rosa) !important; width: 125px; margin-left: 10px; line-height: 36px; padding: 0 !important; margin-top: 10px; display: block; }

			label {
				position: relative; width: 100%;

				i {
					color: var(--cor-azul); opacity: .9; font-size: 1em;
					position: absolute; top: 22px; left: 12px;
				}
			}

			[for="Site"] {
				width: calc(100% - 135px);
				span { display: block; font-size: 11px; margin-top: 3px; opacity: 0.9; }
			}
		}
	}
}

//reCAPTCHA Google
.anr_captcha_field {
	transform: scale(.75); transform-origin: left bottom;
	margin-bottom: 20px;
}