// ========================================//
// LOGIN
// ========================================// 
#afc-msg-login .woocommerce-notices-wrapper { 
	& > * {
		color: white;
		font-size: .75em;
		text-align: center;
		padding: .5em 1em .8em;
		@include expandefundo;
		color: white !important;
		margin: 0 !important;
	}

	ul.woocommerce-error {
		background: var(--cor-negacao); 
		&:before { background: var(--cor-negacao); }
	}
	.woocommerce-info, .woocommerce-message {
		background: var(--cor-afirmacao);
		&:before { background: var(--cor-afirmacao); }
	}
}

.afc-login {
	padding: 20px 12px 12px !important; border: 0 !important; margin: 0 !important;
	
	label[for="username"], label[for="password"] {
		position: relative; margin-top: 12px;
		display: block;
		
		input { margin-top: 0; padding-left: 42px !important;}

		i {
			color: var(--cor-grafite); opacity: .4; font-size: 1.3em;
			position: absolute; top: 50%; left: 13px;
			@include transform(translateY(-50%));
		}
	}

	#customer_login { z-index: 2; }

	.lembrar-logar {
		margin-top: 12px;
		@include flex(space-between);

		.lembrar-login {
			cursor: pointer; 
			&:hover { color: var(--cor-azul-escuro); }
			input[type="checkbox"]:checked + span { color: var(--cor-azul-escuro); }
		}

		.button { @include align-self(flex-start); }
	}

	.lost_password {
		font-size: .8em; 
		letter-spacing: 0;
		a { 
			display: inline-block; line-height: 2; color: var(--cor-negacao);
			padding-left: 0.35em;
			&:hover, &:focus { text-decoration: underline;  }
		}
	}
}


// ========================================//
// MENU EM COMUM DAS PAGINAS
// ========================================// 
#cabecalho {
	background: white;
	position: relative;
	min-height: 100px;
	z-index: 1;
	@extend %sombra-leve;
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(center);

	@media (min-width: $celular + 1px) { min-height: 135px; }
	
	&:before { 
		width: 1618px; height: 135px;
		position: absolute; top: 0; left: 50%;
		@extend %sprite; content: '';
		background-position: 0 0;
		@include transform(translateX(-50%));
	}

	// navegacao pequena
	.nav-mini {
		left: 50%;
		font-weight: bold;
		text-transform: uppercase;
		position: absolute;
		@include flex(space-between);
		@include align-items(flex-end);

		@media (min-width: $tablet) { top: 10px; @include transform(translateX(-50%)); z-index: 1;}
		@media (max-width: $tablet - 1px) { top: 50%; @include transform(translate(-50%,-50%)); padding-top: 20px; }

		a {
			display: inline-block;
			white-space: nowrap; position: relative;
			font-size: 1em; line-height: 1;

			i { line-height: 24px; }

			span { display: none; margin-left: 8px }

			&#menu-mob { 
				display: block; margin-left:0;
				@media (min-width: $tablet) {display: none;}
			}

			&#menu-mob i, &#menu-mob:hover, &#menu-mob:focus,
			&.conta i, &.conta:hover, &.conta:focus {color: var(--cor-roxo);}
			&.carrinho i, &.carrinho:hover, &.carrinho:focus {color: var(--cor-verde);}
			&.sair i { color: var(--cor-rosa);}

			@media (min-width: $tablet) {
				background: $grafite;
				border-radius: 100px;
				font-size: 12px;
				padding: .2em .7em;
				margin-left: 10px;
				color: white; text-shadow: 0 1px 1px solid black;

				span { display: inline-block; }

				&#menu-mob i, &#menu-mob:hover, &#menu-mob:focus,
				&.conta i, &.conta:hover, &.conta:focus {color: var(--cor-roxo-medio);}
				&.carrinho i, &.carrinho:hover, &.carrinho:focus {color: var(--cor-verde-medio);}
				&.sair i { color: var(--cor-rosa-medio);}
			}

			@media (max-width: $tablet) {
				padding: .2em .4em;

				&.carrinho span {
					width: 16px; height: 16px; background: var(--cor-grafite); border-radius: 50%; font-size: 11px;
					color: white; position: absolute; top: 0; right: 0; display: block; line-height: 16px; text-align: center;
				    padding-left: 2px;
				}

			}

			@media (max-width: $celular) {
				font-size: 1.25em;
			}
		}

		.menu-mob {@include align-self(flex-end);}
		.menu-loja {@include align-self(flex-end);
			// @include flex-grow(1);
			text-align: right; z-index: 2;
			font-family: $fonte-redonda;

			@media (max-width: $celular) {
				a { font-size: 1.2em; padding: .2em;}
			}
		}
	}

	nav.menu-site {
		@include align-self(center);
		padding-top: 20px;

		ul > li {
			@extend %textshadow-claro;

			a {
				span.descricao {  color: var(--cor-azul-medio); }
			}

			// marca
			&.menu-item-home {
				@media (min-width: $tablet) {max-width: 300px;}
				& > a {
					span.nome { background-image: url('../img/marca-afcwebdesign.svg'); }
					&:hover, &:focus {
						span.nome {background-image: url('../img/marca-afcwebdesign-splash.svg');}
					}
				}
				&.current-menu-item > a span.nome {background-image: url('../img/marca-afcwebdesign-splash.svg');}
			}

			// hover
			&:not(.menu-item-home) > a:hover, &:not(.menu-item-home) > a:focus,
			&:not(.menu-item-home).current-menu-item > a,
			body.single-etheme_portfolio &.menu-item-object-etheme_portfolio > a {
				background: url('../img/splash.svg') no-repeat center center / 100% auto;

				span.descricao { color: var(--cor-rosa-medio); }
			}
		}
	}
}


// ========================================//
// TITULO PAGINAS INTERNAS - DESTAQUE
// para para de artigos do blog 
// ========================================// 
#chamada-principal.pag-interna-destaque {
	display: flex;
	flex-direction: column; align-items: center;
	padding: 2em 10px;

	&:not(.singular) {
		justify-content: center;

		h1 {
			color: white;
			text-align: center;
			position: relative;
			line-height: .6;
			display: block;
			text-transform: lowercase;
			margin-left: auto;
			margin-right: auto;
			text-shadow: 2px 2px 1px transparentize(black,0.85);
			z-index: 1; font-size: #{2.1em * 4};
			font-weight: normal; 
			font-family: $fonte-cursiva;

			@media (max-width: $smart-menor) { font-size: #{2.1em * 3.2}; }
			@media (max-width: $celular) { font-size: #{2.1em * 2.7}; }
		}	

		h2 {
			display: block; font-size: 2.3em;
			text-align: center; line-height: .6; text-transform: none;
			text-shadow: 1px 1px 1px transparentize(white,0.8);
			color: var(--cor-roxo-escuro); opacity: 0.5;
		}
	}

	&.singular {
		justify-content: flex-end;
		@media (max-width: $smart-maior) { min-height: 200px; }

		.gradiente {
			background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 2%, rgba(162,151,179,0.1) 100%);
			background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 2%, rgba(162,151,179,0.1) 100%);
			background: linear-gradient(0deg, rgba(255,255,255,1) 2%, rgba(162,151,179,0.1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#8c829c",GradientType=1);
		}
	}

	p.summary {
		position: relative; max-width: 590px; margin: 1em auto 0;
		text-shadow: 1px 1px 1px transparentize(white,0.85);
		font-weight: bold; z-index: 1; color: #6c6675; line-height: 1.45;

		@media (max-width: 490px) { font-size: 0.9em; }
		@media (max-width: 460px) { br { display: none; } }
	}
}


// ========================================//
// TITULO PAGINAS INTERNAS
// ========================================// 
#titulo-pagina {
	width: 100%;
	display: block;
	padding-top: 3em;
	padding-bottom: 3em;
	position: relative;
	@include imagemfull(cover,center,top);
	@media (min-width: $container) { background-attachment: fixed; }	

	h1 {
		color: white;
		text-align: center;
		position: relative;
		line-height: 1;
		display: block;
		text-transform: uppercase;
		margin-left: auto;
		margin-right: auto;
		z-index: 1;
		letter-spacing: 0.09em;
		text-shadow: 2px 2px 1px transparentize(black,0.8);

		@media (min-width: $smart-maior + 1px) {font-size: 2.7em;}
	}	

	h2 {
		display: block;
		color: var(--cor-roxo-escuro);
		opacity: .25; text-align: center; line-height: .2;
		text-shadow: 2px 2px 1px transparentize(white,0.8);
	}
}