// geral woocomemrce
.afc-form-row-first, .afc-form-row-last { width: 47%; overflow: visible;}
.afc-form-row-first { float: left !important; clear: unset !important;}
.afc-form-row-last { float: right !important; clear: unset !important;}

// notificacoes
.woocommerce-error, .woocommerce-info, .woocommerce-message {
	border: 1px solid var(--cor-azul-medio);
	border-left-width: 6px;
	border-left-color: var(--cor-azul); padding-left: 3em;
	border-left-style: solid;
	background-color: var(--cor-azul-claro);
	// font-size: .85em; line-height: 1.45;
	// min-height: 53px;
	
	&:before { color: var(--cor-azul); left: 1em;}
	a:not(.button) { color: inherit; }
	a.button { font-size: 10px }

	a:not(.button) { color: inherit; text-decoration: underline;}

	& > * { position: relative; z-index: 1;}
}
.woocommerce-error {
	border-color: var(--cor-negacao);
	background-color: var(--cor-rosa-claro);

	&:before { color: var(--cor-negacao)}
}
// .woocommerce-info { border-top-color: var(--afc-color_afirmacao); }



// ========================================//
// PAGINA DE LOGIN PADRAO
// ========================================//
.afc-pagina-login-padrao {
	form.login, form.register {
		font-size: .9em;
		border: 0 !important; padding: 0 !important;
	}

	.woocommerce-privacy-policy-text {
		font-size: .9em; line-height: 1.5;
		margin-top: 10px;
	}
}

// forca de senha
.woocommerce-password-strength { 
	margin-top: 5px; border-radius: 8px !important;
	padding: .5em; font-size: 12px;
}
.woocommerce-password-hint { line-height: 1.5; font-style: italic;}

// ========================================//
// MINHA CONTA
// ========================================//
// menu woo geral, inclusive canvas
.woocommerce-MyAccount-navigation {
	width: 100% !important; float: none !important;

	ul {
		width: 100%;

		li {
			a:before {
				font-family: $fonte-icone; content: "";
				font-weight: 400; display: inline-block;
				margin-right: 8px; font-size: .9em;
			}

			&[class*="--dashboard"] a:before { content: "\f4c9"; }
			&[class*="--orders"] a:before { content: "\f570"; }
			&[class*="--downloads"] a:before { content: "\f0ed";}
			&[class*="--edit-account"] a:before { content: "\f4fe"; }
			&[class*="--customer-logout"] a:before { content: "\f08b"; }
			&[class*="--subscriptions"] a:before { content: "\f005"; }
			&[class*="--docs"] a:before { content: "\f0ea"; }
			&[class*="--briefing"] a:before { content: "\f036"; }
			&[class*="--briefing-novo"] a:before { content: "\f305"; }

			// afiliados
			&[class*="--voltarpainel"] a:before { content: "\f177"; }
			&[class*="--afiliadas"] a:before { content: "\f81d"; }

			&[class*="--url"] a:before { content: "\f0c1"; }
			&[class*="--stats"] a:before { content: "\f201"; }
			&[class*="--referrals"] a:before { content: "\f649"; }
			&[class*="--payouts"] a:before { content: "\f788"; }
			&[class*="--visits"] a:before { content: "\f500"; }
			&[class*="--creatives"] a:before { content: "\f53f"; }
			&[class*="--settings"] a:before { content: "\f4fe"; }

		}
	}

	.menu-cliente, .menu-afiliada {display: none; cursor: pointer}

	// qdo o menu está na pagina
	.container & {
		background: white;
		position: relative;
		@extend %borda-redonda;
		@extend %sombra-leve;
		padding: 0 30px;
		font-size: 12px; text-transform: uppercase;
		@include transform(translateY(-75%));	

		.menu-cliente, .menu-afiliada {
			padding: 10px;
			width: 100%; text-align: center;
			font-weight: 500; text-transform: uppercase;

			i { color: var(--cor-roxo); margin-left: 8px;}
		}


		ul {
		 	text-align: center;

			li {
				display: inline-block;
				a {
					color: currentColor; font-weight: 500;
					text-decoration: none; padding: 10px;
					display: block;
				}

				&:not(:first-child) {
					a { padding-left: 25px; background: no-repeat left center url(../img/slash.svg);}
				}

				&:hover a, &:focus a, &[class*="is-active"] a {
					&:before { color: var(--cor-roxo); }
				}
				&[class*="is-active"] a { font-weight: bold; }
			}
		}

		@media (max-width: $container) {
			.menu-cliente, .menu-afiliada { display: block; }
			ul { display: none; }
		}	
	}
}


.woocommerce-MyAccount-content, .affwp-tab-content {
	width: 100% !important; max-width: $colmax !important; float: none !important;
	margin: 0 auto; font-size: .9em;

	input:not(.button) { border-radius: 8px !important; }

	h2, h3 { font-size: 1.1em; margin-bottom: 10px; }
}

.woocommerce-account {
	input:not(.button) { border-radius: 8px !important; }

	form.edit-account {
		margin-bottom: 3em;
	}

	.woocommerce-Address {
		margin-top: 1em;

		header.woocommerce-Address-title {
			@include display(flex); line-height: 1;
			@include align-items(center);

			h3 { font-size: 1em; text-transform: uppercase; color: var(--cor-roxo);}
			a {
				display: inline-block;
				outline: 0;
				background: var(--cor-roxo);
				color: white;
				letter-spacing: 0.09em;
				line-height: 1;
				position: relative;
				font-weight: bold;
				text-transform: uppercase;
				white-space: nowrap;
				margin-left: 15px;
				font-family: $fonte-redonda;
				box-shadow: none;
				@extend %letterspacing;
				@extend %borda-redonda;
				@extend %textshadow;
				font-size: .65em; padding: .6em 1.2em;
			}
		}
	}

	table.shop_table {
		input#submit, a.button, button.button, input.button {
			font-size: 12px !important;
		}
	}
}

// perda de senha
.woocommerce-ResetPassword {
	width: $colmax; max-width: 100%;
	margin-left: auto; margin-right: auto;
}

// ========================================//
// DETALHES DE CONTA / PEDIDO
// ========================================//
.woocommerce-customer-details, .woocommerce-order-details, .woocommerce-order-downloads {
	h2 { font-size: 1.2em; margin: 10px 0; }
}


// ========================================//
// GERAL
// ========================================//
// quantidade
.quantity .qty {
	margin-top: 0;
	padding-right: 5px;
	border-radius: 4px;
    line-height: 35px;
}
// input
.input-text {line-height: inherit !important; min-height: 35px; padding: 5px 15px !important;}

div.woocommerce {
	fieldset {
		margin-top: 3em;
		legend { font-weight: bold; }
	}

	.show-password-input { top: 6px !important; }
}

.about_paypal { display: none !important; }

// ========================================//
// SINGLE - PRODUTO
// ========================================//
.loja-wrap-descricao {
	form.cart {
		margin: 2em 0;

		button.disabled {display: none;}
	}
}


// ========================================//
// CARRINHO E CHECKOUT
// ========================================//
.afc-carrinho {
	@include flex(space-between);
	font-size: .9em;
	h3.titulo { font-size: 1em; text-transform: uppercase;  margin-bottom: 10px; }

	table.shop_table {border-radius: 0 !important;}

	.afc-itens {
		table.shop_table {
			&, tr td, tr th { border-color: var(--cor-azul-medio) !important; }
		}
	}
	.afc-total {
		margin-left: 40px; 
		table.shop_table {
			&, tr td, tr th { border-color: var(--cor-verde-medio) !important; }
			tr.order-total { background: var(--cor-verde-claro);}
		}
	}

	@media (min-width: 830px) {
		.afc-itens {width: 60%;}
		.afc-total {width: calc(40% - 40px);}
	}
	@media (max-width: 829px) {
		.afc-itens, .afc-total {width: 100%;}
		.afc-total { margin: 2em 0 0 0;}
	}
}


.woocommerce-checkout {
	font-size: 1em;

	select:not(.woocommerce-input-wrapper) {
		width: auto; min-width: unset; height: auto;
		@include appearance(none);
		margin:0;
		display: block;
		padding: .6em 30px .6em 15px;
		line-height: 1.2;
		color: var(--cor-texto);
		font-weight: 500;
		outline: 0; font-size: 1em;
		background-color: var(--cor-azul-claro);
		background-repeat: no-repeat; 
		background-size: 13px auto;
		background-position: 96% 5px;
		background-image: url('../img/select.svg');
		border-radius: 8px !important;
		border: 1px solid var(--cor-azul-medio);
	    font-family: $fonte-padrao;
	    position: relative;
	    cursor: pointer;

	    &:-moz-focusring {
	    	color: transparent;
			text-shadow: 0 0 0 #000;
	    }

	    &::-ms-expand { display: none; }

	    // &:focus {
	    	
	    // }
	}

	.woocommerce-checkout-review-order-table {
		margin-bottom: 2.5em !important; font-size: .9em;
		border-radius: 0 !important;

		&, tr td, tr th { border-color: var(--cor-roxo-medio) !important; }

		tr.order-total { background: var(--cor-roxo-claro);}

		.product-quantity {display: none;}
	}

	#customer_details {
		h3 { font-size: 1em; text-transform: uppercase; margin-bottom: 10px;}

		input { border-radius: 8px; }
	}	

	.woocommerce-form-coupon-toggle { display: block; } 

	.afc-form-cupom {
		display: flex; margin: 10px 0 1.8em;
		input { margin: 0; text-transform: uppercase; }
		button { margin-left: 8px; border-radius: 8px !important;}
	}

	#payment {
		background: transparent;

		ul.payment_methods {
			padding: 0 !important;
			border: 0;

			li {
				& > label {
					cursor: pointer !important; 
 
					img { max-height: 20px !important; vertical-align: unset; position: relative; bottom: -2px !important;}

					&[for=payment_method_juno-credit-card] img { width: 23px; }
					&[for=payment_method_juno-pix] img { width: 23px; }

					small { color: var(--cor-afirmacao); font-weight: bold; text-transform: uppercase; background: var(--cor-verde-claro);}
				}

				div.payment_box {
					background: var(--cor-verde-claro); border-radius: 0 !important;
					border: 1px solid var(--cor-verde-medio);

					&:before { border-bottom-color: var(--cor-verde-claro); }
					&:after {
						content: ""; display: block; z-index: -1;
					    border: 1em solid var(--cor-verde-medio);
					    border-right-color: transparent;
					    border-left-color: transparent;
					    border-top-color: transparent;
					    position: absolute; top: -.75em;
					    left: 0; margin: -1.1em 0 0 2em;
					}

					fieldset {
						// background: white !important; 
						margin-top: 0 !important;
						padding: 0 !important; 

						.form-row-wide { margin-bottom: 0; }
						.form-row-first, .form-row-last { width: 48%; margin-bottom: 0; }
						.form-row {
							padding-left: 3px !important;
						    padding-right: 3px !important;
						}

						div[role="alert"] {
							margin-top: 1em;

							& + br { display: none; }
						}

						input.input-text, input.paghiper_tax_id {
							background: white !important; box-shadow: none !important;
							font-size: 1em !important; border-color: var(--cor-verde-medio) !important;
							&:focus { border-color: var(--cor-verde) !important; }
						}

						select {
							background-color: white !important;
							background-repeat: no-repeat !important; 
							background-size: 13px auto !important;
							background-position: 96% 5px !important;
							background-image: url('../img/select-checkout.svg') !important;
							border: 1px solid var(--cor-verde-medio) !important;
						}

						&.wc-paghiper-form {
							padding: 1em 0 0 0 !important;
							.form-row { padding: 0 !important; }
						}
					}
					
				}

				&.payment_method_paghiper_billet label img { width: 43px !important; } 
				&.payment_method_paghiper_pix label img { width: 20px !important; } 
				&.payment_method_paypal label img { width: 83px !important; } 

				&.payment_method_juno-credit-card {
					.form-row-wide:not(:first-child), .form-row-first, .form-row-last { padding-top: 1em; }

					.payment-method-description { 
						position: relative; margin-bottom: 1.8em;

						&:after {
							content: ''; background-repeat: no-repeat; 
							background-size: auto 20px; display: block;
							background-position: left center;
							background-image: url('../img/cartoes-juno.svg');
							width: 100%; margin: .7em 0 0 0; height: 20px;

							@media (max-width: 420px) { background-size: 100% auto;}
						}
					}
				}

				&.payment_method_stripe_cc {
					.wc-stripe-gateway-desc { position: relative; margin-bottom: 1.8em; }
					#wc-stripe-card-element { border: 1px solid var(--cor-verde-medio); }
				}
			}
		}

		div.place-order {
			margin-top: 2em;
			padding: 0 !important;

			.woocommerce-privacy-policy-text { margin-bottom: 20px; font-style: italic; }
			.woocommerce-terms-and-conditions { border-color: var(--cor-cinza); box-shadow: 0 0 15px transparentize(black,0.95) !important; }
		}
	}
}

.aceite-extra label.checkbox { line-height: 1.4 !important; }

// termos e condicoes
.woocommerce-terms-and-conditions {
	background: white !important; font-size: .85em !important;
}

// pagina de confirmacao
.woocommerce-order {
	width: $colmax; max-width: 100%;
	margin-left: auto; margin-right: auto;

	a:not(.button) { color: inherit !important; }

	.woocommerce-notice { margin-bottom: 3em; font-size: 1.2em; text-align: center;}

	.woocommerce-customer-details, .order-again { display: none; }

	ul.order_details {
		display: none;
		// text-align: center;
		// li {
		// 	padding-right: 1.5em; margin-right: 1.5em; float: none;
		// 	margin-bottom: 12px;  display: inline-block;

		// 	&.total, &.date { display: none;}

		// 	strong { margin-top: 6px; }

		// 	&:last-of-type { padding-right: 0; margin-right: 0; }
		// }
	}
}

// ========================================//
// PEDIDOS
// ========================================//
// lista de pedidos
span.afc-pedido-status { 
	font-weight: 600; text-transform: uppercase;
	&.pending {color: LightSalmon;}
	&.processing, &.on-hold {color: orange;}
	&.completed {color: YellowGreen;}
	&.cancelled {color: red;}
	&.refunded {color: LightCoral;}
	&.failed {color: red;}
}

// ========================================//
// AGRADECIMENTO
// ========================================//
#juno-pix-thankyou {
	width: $colmax; max-width: 100%; padding: 0 0 4em;
	margin-left: auto; margin-right: auto;

	& > .juno-pix-title, & > .instruction { padding: 0 20px 10px !important;}
	& > .instruction { padding: 0 20px !important; margin-bottom: 30px;}
}


// ========================================//
// PAGINA BRIEFING
// ========================================//
#pagina-briefing {
	@include flex(space-between);
	padding-bottom: 60px;

	input { border-radius: 8px; }

	.sidebar {
		width: $colmax;
		margin-bottom: 2em;
		font-size: 13px; 

		@media (min-width: $container + 1px) { width: calc(100% - #{$colmax} - 30px); }

		.saudacoes {text-transform: capitalize; margin-bottom: 10px}
	}

	.form-briefing {
		max-width: $colmax;
		font-size: .9em;
	}

	@media (max-width: $container) { 
		.sidebar, .form-briefing { margin-left: auto; margin-right: auto; }
	}
	
}

