// gradiente
.gradiente {
	display: block; top: 0; left: 0;
	width: 100%; height: 100%; position: absolute;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 6%, rgba(140,130,156,0.8) 100%);
	background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 6%, rgba(140,130,156,0.8) 100%);
	background: linear-gradient(0deg, rgba(255,255,255,1) 6%, rgba(140,130,156,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#8c829c",GradientType=1);
}

// marca abreviada
.afc {
	display: inline-block;
	svg { height: 16px; }
}


// ========================================//
// AMOSTRA - GRID PROJETO
// ========================================// 
.mostra-projeto {
	position: relative;
	border: 4px solid white;

	a {
		display: block; background: var(--cor-grafite);
		position: relative; overflow: hidden;

		img { width: 100%; @include transition(opacity 0.2s ease-in-out);}
		
		summary {
			position: absolute;
			top: 50%; left: 0;
			width: 100%;
			@include transform(translateY(-50%));
			color: white;
			text-align: center;
			display: none;

			.categoria {
				font-family: $fonte-cursiva; line-height: .3; display: block;
				font-size: 2.8em;; text-transform: lowercase; @extend %textshadow;
				@include transition(transform 0.6s ease-in-out, opacity 0.2s ease-in-out);
			}

			h2 { 
				font-size: 1.2em; @extend %textshadow; display: block;
				@include transition(transform 0.4s ease-in-out, opacity 0.2s ease-in-out);
			}

			p { margin-top: 12px; @include transition(transform 0.4s ease-in-out, opacity 0.2s ease-in-out);}

			.conhecer {
				margin-top: 12px;
				display: inline-block;
				letter-spacing: 0.09em;
				padding: .5em 1.2em;
				position: relative;
				font-size: .65em;
				font-weight: bold;
				text-transform: uppercase;
				white-space: nowrap;
				color: var(--cor-texto);
				font-family: $fonte-redonda;
				@extend %borda-redonda;
				background: var(--cor-bege-medio);
				@include transition(transform 0.4s ease-in-out, opacity 0.2s ease-in-out);
			}
		}

		@media (min-width: $tablet) {
			summary {
				display: block;
				.categoria, h2, p, .conhecer { opacity: 0 }
				.categoria, h2 { @include transform(translateY(-160px)); }
				p, .conhecer { @include transform(translateY(160px)); }
			}
			&:hover {
				img {opacity: .3}
				.categoria, h2, p, .conhecer {
					opacity: 1;
					@include transform(translateY(0px));
				}
			}
		}

		
	}
}



// ========================================//
// O QUE E CODIGO AUTORAL
// ========================================//
.codigo-autoral {
	margin-top: 2em; margin-bottom: 2em;
	width: 100%; position: relative;
	background: var(--cor-grafite);
	padding: 3em 0;
	color: white;
	@include expandefundo();
	@include flex(space-between);
	@include align-items(flex-end);

	&:before {background: var(--cor-grafite);}

	.foto {
		width: 105vw; height: 100%; position: absolute;
        top: 0; left: 50%; display: block; opacity: .3;
        @include transform(translateX(-50%));
        @include imagemfull(cover,center,center);
	}

	h2 { 
		width: 100%;
		font-size: 2.6em;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 1em;

		span { 
			text-transform: lowercase; text-shadow: 2px 2px 1px transparentize(black,0.8);
			opacity: 1; color: var(--cor-rosa-medio);
		}

		@media (max-width: $smart-menor) {font-size: 2em}
	}

	

	& > div:not(.foto) {
		width: 100%; max-width: $smart-maior; margin-top: 1.4em;
		margin-left: auto; margin-right: auto;
		@media (min-width: $tablet + 1px) {
			width: 48%;
		}

		p {
			margin-top: 1.4em;
			&:first-of-type { margin-top: 0; }
		}
	}


	ul.lista-beneficios {
		@include flex(space-between);
		font-size: 1.2em;

		li {
			width: 100%; padding: .3em 0;

			@media (min-width: $smart-menor + 1px) {width: 49%;}

			i {
				width: 34px; height: 34px;
				line-height: 34px;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				background: var(--cor-afirmacao);
				color: white; font-size: .9em;
				@extend %textshadow;
				border-radius: 50%;
			}
		}
	}
}