.af-fields.acf-fields {
	font-size: .9em;

	a {text-decoration: none}

	input[type="text"], 
	input[type="password"], 
	input[type="date"], 
	input[type="datetime"], 
	input[type="datetime-local"], 
	input[type="email"], 
	input[type="month"], 
	input[type="number"], 
	input[type="search"], 
	input[type="tel"], 
	input[type="time"], 
	input[type="url"], 
	input[type="week"], textarea, select {
		line-height: inherit !important;
		font-size: 1em !important;
		padding: 5px 15px !important;
	}

	input[type="url"] { 
		line-height: 1 !important;
	    padding: 4px 0 0px 28px !important;
	}


	& > .acf-field {
		border: none !important;
	}
	
	.af-field-instructions {
	    font-size: 0.95em;
	    font-style: italic;
	    opacity: .8;
	}

	textarea {height: auto;}


	// radio buttons
	ul.acf-radio-list li, ul.acf-checkbox-list li {
		font-size: 0.95em;
	    line-height: inherit;
	    padding: 4px 0;
	    cursor: pointer;
	}
	ul.acf-radio-list li label {
		cursor: pointer;
		font-size: 0.95em;
		&.selected {font-weight: bold;}
	}

	.acf-true-false {
		span.message { font-size: 0.95em; cursor: pointer; }
	}


	// loading apos enviar form
	.acf-spinner {
	    margin-left: 13px !important;
	}

	// botao enviar
	// .af-submit {padding: 0 !important;}

	.af-page-wrap {
		margin: 0 0 20px !important;
		.af-page-button {
			text-decoration: none;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 13px;
			color: inherit;

			&.enabled { color: var(--cor-azul); }
			span.index {background: var(--cor-texto); border: none; line-height: 19px; color: white;}

			&.current {
				&.enabled {
					color: var(--cor-verde);
				}

				span.index {
					background: var(--cor-verde);
					// color: $branco;
				}
			}
		}
	}

	// botoes de acao para acrescentar conteudo
	.acf-actions {
		text-align: center;
		a.button {
			// @extend .btn-xs;
		}
	}

	// campos personalizados
	.chamada-maior {
		.af-label.acf-label label {
			// font-weight: normal !important;
			font-size: 1.3em;
		}
	}

	// titulo escondido
	.esconde-titulo {
		.af-label.acf-label label { display: none; }
	}

	// juntar os fields
	.junta-fields {
	    padding-top: 0; margin-top: -20px;
	}


	// mensagens ocultas que aparecem qdo algum campo eh preenchido
	.af-field-type-message {
		margin-top: 5px;

		&.msghidden {
			margin-left: 0 !important; 
			margin-right: 0 !important; 
			padding: 20px;
			border:0;
			font-size: 0.9em;
			background: var(--cor-verde-claro);
			@include animation(nomesurge 0.4s ease-out 0s 1 normal forwards);

			&.cinza {background: var(--cor-cinza);}
			&.rosa {background: var(--cor-rosa-claro);}
			&.roxo {background: var(--cor-roxo-claro);}
			&.bege {background: var(--cor-bege-claro);}
			&.azul {background: var(--cor-azul-claro);}			

			.acf-label {display: none;}

			// span {
			// 	color: $cor3;
			// 	display: block;
			// 	position: relative;

			// 	&:before {
			// 		content: '';
			// 		font-family: $fonte-icones;
			// 		display: inline-block;
			// 		margin-right: 5px;
			// 		line-height: 1;
			// 	}
			// }

			// &.tipo-projeto.completo span:before {content: '\f1c6'}
			// &.tipo-projeto.design span:before {content: '\f1c5'}
			// &.tipo-projeto.dev span:before {content: '\f1c9'}
			// &.estrela span:before {content: '\f006'}
			// &.info span:before {content: '\f05a'}
		}
	}

}


.af-form.acf-form {
	margin-left: auto;
	margin-right: auto;
	max-width: $colmax;

	// form briefing
	#form_5cc98ff56cee8 {

	}
}

// animacao
@include keyframes(nomesurge) {
	0%{opacity: 0; }
	100%{ opacity: 1; }
}		


// ========================================//
// WPFORMS
// ========================================// 
.wpforms-field-container, .wpforms-container {
	max-width: $colmax; margin:0 auto;
}
.wpforms-field-container, .wpforms-page {
	display: flex; flex-wrap: wrap; justify-content: space-between;
	
	.wpforms-field {width: 100%; margin-top: 12px;}
	
	input, textarea, .wpforms-field-phone > div {margin-top: 5px !important}

	.label {
		border:0; font-size: 0.95em; background: var(--cor-verde-claro);
		border-radius: 8px; border: 1px solid var(--cor-verde-medio);

		&:not(.wpforms-field-html) {padding: 10px 20px 20px;}
		&.wpforms-field-html { padding: 0;
			& > div {padding: 10px 20px 20px;}
		}

		h3 {display:none}
		.wpforms-payment-total {color: var(--cor-afirmacao)}

		&.cinza {
			background: var(--cor-cinza); border-color: #DDD;
			.wpforms-payment-total {color: var(--cor-texto)}
		}
		&.rosa {
			background: var(--cor-rosa-claro); border-color: var(--cor-rosa-medio);
			.wpforms-payment-total {color: var(--cor-rosa)}
		}
		&.roxo {
			background: var(--cor-roxo-claro); border-color: var(--cor-roxo-medio);
			.wpforms-payment-total {color: var(--cor-roxo)}
		}
		&.bege {
			background: var(--cor-bege-claro); border-color: var(--cor-bege-medio);
			.wpforms-payment-total {color: var(--cor-bege)}
		}
		&.azul {
			background: var(--cor-azul-claro); border-color: var(--cor-azul-medio);
			.wpforms-payment-total {color: var(--cor-azul)}
		}
		 
		&.alerta-negacao {background: var(--cor-negacao); border-color: var(--cor-negacao); color: white}
		&.alerta-afirmacao {background: var(--cor-afirmacao); border-color: var(--cor-afirmacao); color: white }

		p:not(:first-of-type) { margin-top: 1em;}
	}

	.wpforms-field-html {
		p:not(:first-of-type) { margin-top: 1em;}
	}


	.escolha-checkbox { padding: 0; }
	.escolha-checkbox + .escolha-checkbox { margin-top: 0; }

	.colar-acima {padding-top:0; margin-top: 0}	

	.choices { margin: 14px 0 !important;}

	ul {
		li {
			&:before { display: none !important; }
			// &.wpforms-selected label { color: var(--cor-grafite); }
			// &:not(.wpforms-selected) label {color: #7d748b }
			&:not(.wpforms-selected) label { opacity: .75; }
		}
	}

	label {cursor: pointer;}

	.varias-escolhas {
		ul { 
			border: 1px solid var(--cor-roxo-medio); border-radius: 8px; margin-top: 5px;
			li {padding: 10px;}
		}

		&:not(.wpforms-list-3-columns):not(.wpforms-list-2-columns) {
			ul li {
				&:not(:first-of-type) {border-top: 1px solid var(--cor-roxo-medio)}
				&:nth-of-type(odd) { background: var(--cor-roxo-claro); }

				&:first-of-type {border-radius: 8px 8px 0 0;}
				&:last-of-type {border-radius: 0 0 8px 8px;}
			}
		}

		&.wpforms-list-3-columns, &.wpforms-list-2-columns {
			ul { display: flex;
				li {
					flex-grow: 1;
					&:not(:first-of-type) {border-left: 1px solid var(--cor-roxo-medio)}
					&:nth-of-type(odd) { background: var(--cor-roxo-claro); }

					&:first-of-type {border-radius: 8px 0 0 8px;}
					&:last-of-type {border-radius: 0 8px 8px 0;}
				}
			}
		}

		&.fundo-liso ul li:nth-of-type(odd) { background: none; }
	}

	@media (min-width: 670px) {
		.terco {width: calc(33% - 10px); }
		.dupla {width: calc(50% - 10px); }
		.dois-terco {width: calc(66% - 10px); }
	}


	.wpforms-field-pagebreak { margin-left: -10px;}

	button.wpforms-page-button {
		display: inline-block;
		outline: 0;
		background-color: var(--cor-grafite) !important;
		color: white !important;
		letter-spacing: 0.09em;
		line-height: 1;
		cursor: pointer;
		font-size: .65em !important; padding: .6em 1.2em !important;
		position: relative;
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
		white-space: nowrap;
		border: 0;
		font-family: $fonte-redonda;
		box-shadow: none !important;
		@extend %letterspacing;
		border-radius: 100px !important;
		text-shadow: 1px 1px 0 transparentize(black,0.9) !important; 
		margin-left: 10px;
	}

	.wpforms-payment-total {
		font-weight:bold !important; font-size: 1.85em !important
	}

}