#pagina-planos {
	margin-bottom: 4em;

	& > article {
		width: 100%; max-width: $colmax; 
		text-align: center; margin: 0 auto 6em;

		em { padding: 0 3px; box-shadow: inset 0 -20px transparentize($azul,0.8); }
	}

	@media (min-width: $smart-maior + 1px) { #faq { padding-top: 70px;} }
	@media (max-width: $smart-maior) { #faq { padding-top: 35px;} }
	
}

$plano-bg-claro: (
	($azul-claro),
	($verde-claro),
	($roxo-claro),
	($rosa-claro)
);
$plano-bg-medio: (
	($azul-medio),
	($verde-medio),
	($roxo-medio),
	($rosa-medio)
);
$plano-cor: (
	($azul),
	($verde),
	($roxo),
	($rosa)
);

.todos-planos {
	width: 100%; font-size: .85em;
	@include display(flex);
	line-height: 1.4; 

	@media (min-width: $smart-maior + 1px) { margin-bottom: 4em; }
	@media (max-width: $smart-maior) { @include flex-wrap(wrap); }

	.plano {
		width: 33.33%; border-radius: 10px;
		background: white;
		position: relative;
		@include flex-shrink(0);
		box-shadow: 0 0 20px transparentize(black,0.9);

		@media (min-width: $smart-maior + 1px) { padding-bottom: 90px; }
		@media (max-width: $smart-maior) {
			width: 100%; 
			&:not(:last-of-type) {margin-bottom: 60px;}
		} 

		header {
			width: 100%;
			position: relative;
			padding: 40px 20px 0;

			@media (max-width: $smart-maior) { border-top-right-radius: 10px; border-top-left-radius: 10px;}

			time {
				font-size: 12px; position: absolute; top: 20px; right: 20px; 
				width: 30px; text-align: center; height: 30px; @extend %textshadow;
				border-radius: 50%; line-height: 30px; font-weight: bold; color: white;
				box-shadow: 1px 1px 0 rgba(white,0.5);
			}

			h3 {
				display: inline-block;
				font-size: .9em;
				letter-spacing: 0.09em;
				text-transform: uppercase;
				padding: .5em 1.4em;
				white-space: nowrap;
				font-family: $fonte-redonda;
				position: absolute; top: 0; @extend %textshadow;
				color: white; @extend %borda-redonda;
				left: 50%; @include transform(translate(-50%,-50%));
			}

			label {
				position: absolute; color: white; font-size: 9px;
				background: var(--cor-negacao); letter-spacing: 0.1em;
				padding: 6px 10px; text-transform: uppercase; font-weight: bold;
				top: 22px; left: -2px; height: 24px; z-index: 1;
				@include transform(rotate(-45deg));

				&:before, &:after {content: ''; top: 0; width: 1px; position: absolute; z-index: -1;  border-bottom: 24px solid var(--cor-negacao);}
				&:before { left: -24px; border-left: 24px solid transparent; }
				&:after { right: -24px; border-right: 24px solid transparent; }
			}

			data {
				font-family: $fonte-redonda;
				display: block;
				text-align: center;
				font-size: 3em;
				line-height: 1;
				font-weight: bold;
				@extend %textshadow-claro;

				abbr { font-size: .4em; margin-right: 4px; vertical-align: super}
				.freq { font-size: .5em; margin-left: 4px; vertical-align: baseline; font-weight: 500}
			}

			p {
				margin: 15px 0 0 0; text-align: center; overflow: hidden; z-index: 1;
				font-size: 0.9em; font-family: $fonte-redonda; position: relative;

				strong {
					padding: .4em 1em; text-transform: uppercase; margin-bottom: 5px;
					font-size: 9px; border: 2px solid; @extend %borda-redonda; display: inline-block;

					span { position: relative; }

					&:before { 
						content: ''; width: 100%; top: 10px; height: 2px; left: 0;
						display: block; position: absolute; z-index: -1;
					}
				}
			}
		}

		ul {
			p {
				padding: .5em 1.5em; display: block; border: 1px solid; border-right: 0; border-left: 0; border-bottom-width: 2px;
				&:first-of-type { border-top: 0}

				strong { display: block;}
			}
			strong {font-family: $fonte-redonda; }

			li {
				padding: .7em 1.5em; display: block;
				border-bottom: 1px solid;
				background: white; font-size: 13px;

				&:before {
					content:'\f00c'; font-family: $fonte-icone; display: inline-block;
					margin-right: 6px; font-size: 1.1em; vertical-align: middle; font-weight: 300;
				}

				&:last-of-type { border-bottom: 0}

				i.fa-info-circle { font-size: 1.1em; vertical-align: middle; display: inline-block;}
			}
		}

		blockquote {
			font-size: 13px; border-radius: 8px; padding: 12px;
			margin: .7em 1.5em; 
		}

		footer {
			width: 100%; 
			padding: 15px 10px; 
			text-align: center;

			p {padding: 0 30px; font-size: 0.85em}
			
			.botao {
				width: 100%; text-align: center;

				svg { display: block; width: 100px;}
			}

			@media (min-width: $smart-maior + 1px) {
				position: absolute; height: 90px; bottom: 0; left: 0; 

				.botao { position: absolute; bottom: 0; left: 50%; @include transform(translate(-50%,50%)); }
			}

			@media (max-width: $smart-maior) { 
				border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;

				.botao { margin-top: 20px; }
			}
		}		

		// configs em comum
		@for $i from 1 through 3 {
			&:nth-of-type(#{$i}) {
				header {
					background: nth($plano-bg-claro,$i);
					background: -moz-linear-gradient(0deg, nth($plano-bg-claro,$i) 0%, nth($plano-bg-medio,$i) 100%);
					background: -webkit-linear-gradient(0deg, nth($plano-bg-claro,$i) 0%, nth($plano-bg-medio,$i) 100%);
					background: linear-gradient(0deg, nth($plano-bg-claro,$i) 0%, nth($plano-bg-medio,$i) 100%);

					h3 {background: nth($plano-cor,$i)}
					time { background: nth($plano-cor,$i); }
					data {color: nth($plano-cor,$i)}
					
					p { 
						strong {
							color: nth($plano-cor,$i); border-color: nth($plano-bg-medio,$i);
							background: nth($plano-bg-claro,$i);
							&:before {background: nth($plano-bg-medio,$i);}
						}
						i {color: darken(nth($plano-cor,$i),5%); }
					}
				}

				ul {
					li, p { border-color: rgba(nth($plano-bg-medio,$i),0.6)}
					p { background: nth($plano-bg-claro,$i); }
					li:before, em, i { color: nth($plano-cor,$i) }
				}

				blockquote { background: nth($plano-bg-claro,$i); }

				footer {
					background: white;
					background: -moz-linear-gradient(0deg, nth($plano-bg-medio,$i) 0%, white 100%);
					background: -webkit-linear-gradient(0deg, nth($plano-bg-medio,$i) 0%, white 100%);
					background: linear-gradient(0deg, nth($plano-bg-medio,$i) 0%, white 100%);					

					p { color: nth($plano-cor,$i);}
				}
			}
		}


		@media (min-width: $smart-maior + 1px) {
			// excessoes
			&:nth-of-type(1) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				header { border-top-left-radius: 10px;}
				footer { border-bottom-left-radius: 10px;}
			}
			&:nth-of-type(2) {
				z-index: 1; box-shadow: 0 0 20px transparentize(black,0.8);
				margin-bottom: -30px; margin-top: -30px;
				footer { border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;}
				header { padding-bottom: 30px; border-top-left-radius: 10px; border-top-right-radius: 10px; }
			}
			&:nth-of-type(3) {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				header { border-top-right-radius: 10px;}
				footer { border-bottom-right-radius: 10px;}
			}
		}
	
	}
}



.tabela-planos-trimestrais {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;

	td, th {
		border: 2px solid $cinza;
		font-size: 13px;
		padding: 10px;
		text-align: center;
		line-height: 1.3;
	}

	th { font-size: 1em; font-family: $fonte-redonda; font-weight: bold; text-transform: uppercase;}

	
	
	th:nth-of-type(2) { background: nth($plano-bg-medio,1); }
	th:nth-of-type(3) { background: nth($plano-bg-medio,2); }
	th:nth-of-type(4) { background: nth($plano-bg-medio,3); }
	th:nth-of-type(5) { background: nth($plano-bg-medio,4); }
	
	
}


////// troca de plano
#troca-cliente {
	background: lighten($bege-medio,10%);
	@extend %borda-redonda; width: 310px;
	overflow: hidden; margin: 0 auto;
	box-shadow: 0 0 8px $bege-medio inset;
	display: flex; position: relative;
	font-family: $fonte-redonda; font-weight: bold;
	font-size: 12px; text-transform: uppercase;
	letter-spacing: 0.04em; 

	label {
	    width: 50%;
	    background-color: transparent;
	    z-index: 2;
	    position: relative;
	    cursor: pointer;
	    text-align: center;
	    padding: .85em 10px;
	    color: darken($bege,8%);
	    @include transition(color 0.2s ease-in-out);
	}
	
	input[type="radio"] {display: none;}

	.slider{
	    position:absolute;
	    left: 0%; 
	    top:0;
	    width:50%; 
	    height: 100%;
	    animation-timing-function: ease-in-out;
	    animation-duration:.3s;
	    animation-fill-mode: forwards;
	    transition: 0.2s left 0s ease-in-out;
	    box-shadow: 0 0 10px $bege-medio;
	    z-index: 0; background-color: $bege;
	}
	#input-jacliente:checked  ~ .slider { left:0; }
	#input-novocliente:checked  ~ .slider { left:50%; }
	#input-jacliente:checked + label, #input-novocliente:checked + label {color: #fff;}
}



/////// SWITCH
.cl-switch {
  input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  .switcher {
    display: inline-block;
    border-radius: 100px;
    width: 35px;
    height: 15px;
    background-color: #ccc;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;


    &:before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
      border-radius: 50%;
      margin-top: -2.5px;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-right: 0;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
    }

    &:active:before {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6),
      0 0 0 10px rgba($afirmacao, 0.3);
      transition: all, 0.1s;
    }
  }

  .label {
    cursor: pointer;
    vertical-align: middle;
    margin: 0 5px; font-family: $fonte-redonda;
    font-weight: bold;
  }

  /*
  When Checked
   */
  input[type="checkbox"]:checked + .switcher {
    background-color: lighten($afirmacao, 20);

    &:before {
      left: 100%;
      margin-left: -20px;
      background-color: $afirmacao;
    }
  }

  & [disabled]:not([disabled="false"]) + .switcher {
    background: #ccc !important;

    &:active:before {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) !important;
    }

    &:before {
      background-color: #e2e2e2 !important;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) !important;
    }
  }
}