#lista-projetos {

	& > article {
		max-width: $colmax;
		text-align: center;
		margin: 0 auto 2em;

		em { padding: 0 3px; box-shadow: inset 0 -20px transparentize($azul,0.8); }
	}

	.projetos-afc {
		width: 100%;
		// grid-template-columns: repeat(4, 1fr);
		// grid-template-rows: repeat(14, 1fr);

		@media (min-width: $smart-menor + 1px) {
			gap: 2px 6px;
			display: grid;
			grid-template-areas: 
				"projeto-1 projeto-1 projeto-2 projeto-3"
				"projeto-1 projeto-1 projeto-4 projeto-5"

				"codigo-autoral codigo-autoral codigo-autoral codigo-autoral"
				// "codigo-autoral codigo-autoral codigo-autoral codigo-autoral"
				
				"projeto-6 projeto-7 projeto-8 projeto-8"
				"projeto-9 projeto-10 projeto-8 projeto-8"
				"projeto-11 projeto-12 projeto-13 projeto-14"

				"chamada-orcamento chamada-orcamento chamada-orcamento chamada-orcamento"
				// "chamada-orcamento chamada-orcamento chamada-orcamento chamada-orcamento"

				"projeto-15 projeto-15 projeto-16 projeto-17"
				"projeto-15 projeto-15 projeto-18 projeto-19"
				"projeto-20 projeto-21 projeto-22 projeto-23"
				"projeto-24 projeto-25 projeto-25 projeto-26"
				"projeto-27 projeto-25 projeto-25 projeto-28";
		}
		@media (min-width: $tablet) and (max-width: $container - 1px) { gap: 14px 20px; }
		@media (min-width: $container) { gap: 20px 30px; }

		@media (max-width: $smart-menor) {
			@include flex(space-between);
			& > div {
				width: 49.9%;

				&.projeto-1,
				&.projeto-8,
				&.projeto-15,
				&.projeto-24 { width: 100%; }
			}
		}

		.chamada-orcamento {width: 100%; grid-area: chamada-orcamento; }
		.codigo-autoral {width: 100%; grid-area: codigo-autoral; }

		@for $i from 1 through 28 {
		    .projeto-#{$i} { grid-area: projeto-#{$i}; }
		}

		.maior a summary {
			font-size: 1.2em;

			h2 { font-size: 1.6em }
			p { font-size: 1.1rem; padding: 0 1rem; }
		}		
	}
}

.chamada-orcamento {
	margin: 2em 0;
	background: var(--cor-verde-claro);
	padding: 3em 0;
	text-align: center;
	@include expandefundo();

	&:before {background: var(--cor-verde-claro);}

	h2 { font-size: 2.6em; }

	p { margin-top: 1.4em }

	@media (max-width: $smart-menor) {
		.wrap { padding: 0 10px; }
		h2 { font-size: 2em }
	}


	&.pag-projeto {
		background: var(--cor-rosa-claro);
		margin-top: -5em;
		padding-top: 7em;

		&:before {background: var(--cor-rosa-claro);}

	}
}


// ========================================//
// SINGLE DE PROJETO - AMOSTRA FINAL
// ========================================//
.info-projeto {
	@include flex(space-around);
	@include align-items(flex-end);
	position: relative;
	padding-top: 3em;

	.gradiente {
		width: 100vw; left: 50%; @include transform(translateX(-50%));
		background: white;
		background: -moz-linear-gradient(0deg, white 0%, var(--cor-roxo-claro) 100%);
		background: -webkit-linear-gradient(0deg, white 0%, var(--cor-roxo-claro) 100%);
		background: linear-gradient(0deg, white 0%, var(--cor-roxo-claro) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#F7F5FA",GradientType=1);
	}


	figure, summary {
		width: 100%; max-width: $smart-maior; position: relative;
		@media (min-width: $tablet + 1px) {width: 48%;}
	}

	figure {
		display: none;
		@media (min-width: $tablet + 1px) {display: block;}
	}

	summary {
		@include align-self(center);
		hgroup {
			text-align: center; margin-bottom: 2em;

			h1 { position: relative; z-index: 1; }

			h2 {
				color: var(--cor-roxo); position: relative;
				font-size: 3.6em; line-height: .2;
			}
		}
	}

	// @media (max-width: $tablet) {
	// 	figure { @include order(2); }		
	// 	summary { @include order(1); }		
	// }
}

// ========================================//
// DESTAQUES DO PROJETO - PRINTS
// ========================================//
.detalhes-projeto {
	width: $colmax;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 1;

	.info {
		width: 100%; padding: 2em 0 1em;
		@include flex(space-between);
		@include align-items(center);

		@media (max-width: $smart-menor) { padding-bottom: 0; }

		* { margin-top: 0 }

		& > div {
			position: relative;

			a.profissionais {
				color: var(--cor-azul); top: 0; @include transform(translateY(-100%));
				font-weight: bold; font-family: $fonte-redonda;
				font-size: 13px; position: absolute; z-index: 1;
				&:hover { color: var(--cor-rosa); }

				@media (max-width: $celular) {font-size: 12px;}
			}

			h2 {
				position: relative;
				display: inline-block;
				vertical-align: bottom;

				@media (max-width: $celular) {font-size: 3.5em;}

				&:before, &.ver:after { content: ''; position: absolute;}

				&:before {
					width: 60vw; height: 400%; display: block;
					background: var(--cor-azul-claro); top: -30px;
					right: -15px; z-index: -1;

				}

				@media (min-width: $smart-maior) {
					&.ver:after {
						width: 335px; height: 3px; background: var(--cor-texto);
						top: 50%; margin-top: 1px; border-radius: 3px;
						right: -30px; @include transform(translateX(100%));
					}
				}
			}

			&.online {
				@include flex-shrink(0);
				background: white; display: block;
				padding-left: 30px;

				@media (max-width: $celular) {
					padding-left: 0;

					a.button {padding: .5em 1em .5em !important; font-size: .8em !important}
				}
			}
		}
	}
}


// ========================================//
// BOTAO SALVAR PIN
// ========================================//
.pin-button {
	position: relative;

	a.pin-button {
		position: absolute;
		background: white;
		cursor: pointer; @extend %borda-redonda;
		@extend %sombra-forte;
		text-transform: uppercase;
		text-decoration: none; line-height: 1;
		font-weight: bold;
		@include transition(background 0.2s ease-in-out, color 0.2s ease-in-out);

		i {
			background: var(--cor-negacao); color: white; vertical-align: middle;
			border-radius: 50%; display: inline-block; width: 22px; height: 22px;
			text-align: center; line-height: 22px; margin-right: 5px;
			@include transition(background 0.2s ease-in-out, color 0.2s ease-in-out);
		}

		&:hover {
			background: var(--cor-negacao); color: white;

			i { background: white; color: var(--cor-negacao);}
		}

		@media (min-width: $smart-maior + 1px) {
			font-size: 12px; top: 20px; left: 20px;
			padding: 8px 13px 8px 9px;
		}
		@media (max-width: $smart-maior) {
			top: 12px; right: 12px;
			font-size: 10px; padding: 5px 10px 5px 5px; 
		}
	}
}