#pagina-servicos {
	.intro {
		@include flex(space-between);

		article, .plataformas {
			width: 100%; max-width: $smart-maior; margin: 0 auto 2em;
			text-align: center;

			em { padding: 0 3px; box-shadow: inset 0 -20px transparentize($azul,0.8); }

			@media (min-width: $tablet + 1px) {width: 48%;}
		}

		.plataformas {
			@include flex(space-between);
			font-size: .8em;
			line-height: 1.3;

			figure {
				position: relative;
				width: 49.9%; margin: 1em auto;
				@include display(flex);

				&:before {
					width: 20px; height: 2px; background: var(--cor-texto);
					position: absolute; content: ""; display: block;
					top: 50%;
				}

				img { margin: 1em auto; @include align-self(center);}

				&.wp {
					@include order(1);
					background: var(--cor-azul-claro);
					@media (min-width: $smart-menor + 1px) {&:before {right: -10px}}
				}
				&.woo {
					@include order(4);
					background: var(--cor-roxo-claro);
					@media (min-width: $smart-menor + 1px) {&:before {left: -10px;}}
				}

				@media (max-width: $smart-menor) {
					width: 275px;
					&.woo { @include order(3); margin-top: 3.5em;}
					&:before { bottom: -10px; left: 50%; @include transform(rotate(90deg) translateX(150%)); }
				}
			}

			.desc {
				width: 49.9%; @include align-self(center);
				text-align: center; padding: 0 10px;

				&.wp { @include order(2); }
				&.woo { @include order(3); }

				@media (max-width: $smart-menor) {
					width: 100%;
					&.woo { @include order(4);}
				}
			}

		}
	}
}

#lista-servicos {
	width: 100%;
	position: relative;
	padding-top: 70px;
	// @media (max-width: $smart-maior) {  }

	h2.cursivo.assinado {
		display: inline-block;
		@media (max-width: $smart-maior) { display: none;}
	}

	ul {
		width: 100%;
		@include flex(space-between);

		li {
			margin-bottom: 50px; width: calc(50% - 10px);
			font-size: .9em; text-align: center; position: relative;
			background: var(--cor-cinza); padding: 15px 15px 35px;

			@media (max-width: $celular) { width: 90%; margin-left: auto; margin-right: auto; }
			@media (min-width: $tablet + 1px) { width: calc(25% - 15px);}

			header {
				margin-top: -35px; margin-bottom: 1em;

				i {
					text-align: center; display: block;
					font-size: 2.4em; margin-bottom: .2em;
				}

				h3 {
					text-align: center; z-index: 1; 
					span { bottom: -5px; }
				}
			}

			p { line-height: 1.55; }

			// div {
			// 	display: block; padding: 36px 12px;
			// 	background: var(--cor-cinza);
			// 	margin-top: -18px;
			// }

			footer {
				position: absolute; bottom: 0; left: 50%; 
				@include transform(translate(-50%,50%));
			}

			&.rosa {
				background: var(--cor-rosa-claro);
				i, h3 span {color: var(--cor-rosa);}
			}
			&.roxo {
				background: var(--cor-roxo-claro);
				i, h3 span {color: var(--cor-roxo);}
			}
			&.verde {
				background: var(--cor-verde-claro);
				i, h3 span {color: var(--cor-verde);}
			}
			&.bege {
				background: var(--cor-bege-claro);
				i, h3 span {color: var(--cor-bege);}
			}
			&.azul {
				background: var(--cor-azul-claro);
				i, h3 span {color: var(--cor-azul);}
			}
		}
	}
}

.tipos-pagamento {
	margin-bottom: 2em;
	// margin-top: -20px;
	// @media (min-width: $smart-maior + 1px) { margin-top: -80px; }

	ul {
		li {
			width: 100%; margin: 1em 0;
			@include flex(space-between);
			@include align-items(center);
			@media (min-width: $tablet + 1px) { margin: 3em 0;}

			.tipo {
				width: 180px; position: relative;
				font-size: 4em;
				font-family: $fonte-cursiva;
				text-align: center;
				line-height: .3;
				@media (min-width: $tablet + 1px) { font-size: 6em; width: 33%; }
				@media (max-width: $smart-menor) {
					width: 60px;
					span { display: none; }
				}

				i {
					position: absolute;
					top: 50%; left: 50%;
					opacity: .25; font-size: .75em;
					@include transform(translate(-50%,-50%));
				}
			}

			.descricao {
				width: calc(100% - 190px); position: relative;
				padding: 1em 2em; font-size: .9em;
				@media (min-width: $tablet + 1px) { font-size: 1.1em; width: 66%;  }
				@media (max-width: $smart-menor) { width: calc(100% - 70px); }

				p { position: relative; z-index: 2; }

				&:before {
					width: 50px; height: 2px; content: ""; display: block; z-index: 1;
					background: var(--cor-texto); position: absolute; top: 50%;

					@media (min-width: $tablet + 1px) { width: 100px; }
				}

				&:after {
					width: 80vw; height: 100%; display: block; content: "";
					top: 0; position: absolute;
				}
			}

			&:nth-of-type(1) {
				.tipo i {color: var(--cor-azul);}
				.descricao { 
					background: var(--cor-azul-claro);
					&:before { left: 0; @include transform(translateX(-75%)); }
					&:after {background: var(--cor-azul-claro); left: 0;}

					@media (max-width: $smart-menor) {padding-right: 0;}
				}
			}

			&:nth-of-type(2) {
				.tipo i {color: var(--cor-verde);}
				.descricao { 
					background: var(--cor-verde-claro); text-align: right;
					&:before { right: 0; @include transform(translateX(75%)); }
					&:after {background: var(--cor-verde-claro); right: 0; }

					@media (max-width: $smart-menor) {padding-left: 0;}
				}
			}
		}
	}

	.logos {
		@include flex(space-around);

		img { margin: .5em; position: relative;}

		@media (min-width: $tablet) {
			img:nth-of-type(1) { width: 204px; }
			img:nth-of-type(2) { width: 175px; top: 11px;}	
			img:nth-of-type(3) { width: 75px; }	
			img:nth-of-type(4) { width: 108px; }	
		}
	}
}