//////////////// DEMENTOR
@font-face {
    font-family: 'Dementor';
    src: url('fonts/Dementor.woff2') format('woff2'),
        url('fonts/Dementor.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//////////////// AVENIR - CYR
@font-face {
    font-family: 'Avenir Medium';
    src: url('fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
        url('fonts/AvenirNextCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('fonts/AvenirNextCyr-MediumItalic.woff2') format('woff2'),
        url('fonts/AvenirNextCyr-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
        url('fonts/AvenirNextCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('fonts/AvenirNextCyr-BoldItalic.woff2') format('woff2'),
        url('fonts/AvenirNextCyr-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

//////////////// AVENIR - ROUNDED
@font-face {
    font-family: 'Avenir Rounded';
    src: url('fonts/AvenirNextRoundedStd-Med.woff2') format('woff2'),
        url('fonts/AvenirNextRoundedStd-Med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Rounded';
    src: url('fonts/AvenirNextRoundedStd-Bold.woff2') format('woff2'),
        url('fonts/AvenirNextRoundedStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



